Sprint 06/Desafio/movies.csv
Sprint 06/Desafio/series.csv
Sprint 07/Desafio/teste.ipynb
Sprint 07/Desafio/series_comum.csv
Sprint 07/Desafio/series_organizados.csv
Sprint 07/Desafio/tabela.IPYNB
Sprint 08/Exercicios/exercicio_geracao_dados/nomes_aleatorios.txt
